{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Modifier un utilisateur - {{ parent() }}
{% endblock %}

{% block etiquette_body %}
    <h2>Modifier un utilisateur</h2>

    <div class="col-md-6 offset-md-3">
      {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_label(form.oldPassword, 'Ancien mot de passe') }}
        {{ form_widget(form.oldPassword, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.plainPassword.first, 'Mot de passe') }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.plainPassword.second, 'Confirmer le mot de passe') }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}

        <br>

        {{ form_row(form.submit, {'label': 'Valider'}) }}

      {{ form_end(form) }}
    </div>

{% endblock %}
