{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  {{ user.username }} - {{ parent() }}
{% endblock %}

{% block etiquette_body %}
    
  	<h2>{{ user.username }}</h2>

  	{% for message in app.flashes('notice') %}
	    <p class="bg-success text-white">
	        {{ message }}
	    </p>
	{% endfor %}

  	<p>{{ user.email }}</p>

  	<a href="{{ path('profile_edit') }}">Modifier</a>

{% endblock %}
