<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('images/favicon.ico') }}" />
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>Plateforme Etiquettes | MIELE</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ asset('css/icons/css/ionicons.min.css') }}">
      <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
      <link rel="stylesheet" href="{{ asset('css/main.css') }}">
      {% if css_file is defined %}
      <link rel="stylesheet" href="{{ asset('css/' ~ css_file ~ '.css') }}">
      {% endif %}
    {% endblock %}
  </head>

  <body class="container">

  <div class="btn-menu">
    <div class="menu">
      <div class="icon">
        <div class="bar"></div>
      </div>
    </div>
    <div class="icons">
      <i class="ii ion-grid" aria-hidden="true"></i>
      <i class="ii ion-person" aria-hidden="true"></i>
      <i class="ii ion-log-out" aria-hidden="true"></i>

    </div>
    <div class="section">
      <div class="cover1">
        <div class="cover2">
          <a class="content" href="#"></a>
        </div>
      </div>
    </div>
    <a class="section-static top" href="{{ path('dashboard') }}"></a>
    <a class="section-static bottom" href="{{ path('logout') }}#"></a>
  </div>


  {% block body %}
      {% endblock %}

  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/main-min.js') }}"></script>
  {% endblock %}

  {% block script_footer %}

  {% endblock %}
  </body>
</html>
