{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Ajouter un produit - {{ parent() }}
{% endblock %}

{% block subtitle %} Ajouter un produit {% endblock %}

{% block etiquette_body %}
<form class="" action="" method="post">
  <div class="form-group">
    <label for="reftarif">Référence</label>
    <input type="text" class="form-control" id="reftarif" name="reftarif" value="">
  </div>
  <div class="form-group">
    <label for="reftarifsansespace">Référence (sans espace)</label>
    <input type="text" class="form-control" id="reftarifsansespace" name="reftarifsansespace" value="">
  </div>
  <div class="form-group">
    <label for="codesap">Code SAP</label>
    <input type="text" class="form-control" id="codesap" name="codesap" value="">
  </div>
  <div class="form-group">
    <label for="codeean">Code EAN</label>
    <input type="text" class="form-control" id="codeean" name="codeean" value="">
  </div>
  <div class="form-group">
    <label for="modepose">Mode pose</label>
    <input type="text" class="form-control" id="modepose" name="modepose" value="">
  </div>
  <div class="form-group">
    <label for="ecopart">Eco participation</label>
    <input type="text" class="form-control" id="ecopart" name="ecopart" value="">
  </div>
  <div class="form-group">
    <label for="pvcm">pvcm</label>
    <input type="text" class="form-control" id="pvcm" name="pvcm" value="">
  </div>
  <div class="form-group">
    <label for="pkgl">pkgl</label>
    <input type="text" class="form-control" id="pkgl" name="pkgl" value="">
  </div>
  <div class="form-group">
    <label for="hauteurnet">Hauteur net</label>
    <input type="text" class="form-control" id="hauteurnet" name="hauteurnet" value="">
  </div>
  <div class="form-group">
    <label for="largeurnet">Largeur net</label>
    <input type="text" class="form-control" id="largeurnet" name="largeurnet" value="">
  </div>
  <div class="form-group">
    <label for="profondeurnet">Profondeur net</label>
    <input type="text" class="form-control" id="profondeurnet" name="profondeurnet" value="">
  </div>
  <div class="form-group">
    <label for="existe">existe</label>
    <input type="text" class="form-control" id="existe" name="existe" value="">
  </div>
  <div class="form-group">
    <label for="info1">Info 1</label>
    <input type="text" class="form-control" id="info1" name="info1" value="">
  </div>
  <div class="form-group">
    <label for="info2">Info 2</label>
    <input type="text" class="form-control" id="info2" name="info2" value="">
  </div>
  <div class="form-group">
    <label for="info3">Info 3</label>
    <input type="text" class="form-control" id="info3" name="info3" value="">
  </div>
  <div class="form-group">
    <label for="info4">Info 4</label>
    <input type="text" class="form-control" id="info4" name="info4" value="">
  </div>
  <div class="form-group">
    <label for="info5">Info 5</label>
    <input type="text" class="form-control" id="info5" name="info5" value="">
  </div>
  <div class="form-group">
    <label for="during">Durée</label>
    <input type="text" class="form-control" id="during" name="during" value="">
  </div>
  <div class="form-group">
    <label for="garantie">Garantie</label>
    <input type="text" class="form-control" id="garantie" name="garantie" value="">
  </div>
  <div class="form-group">
    <label for="valpoidsnet">Poids net</label>
    <input type="text" class="form-control" id="valpoidsnet" name="valpoidsnet" value="">
  </div>
  <div class="form-group">
    <label for="gamme">Gamme</label>
    <input type="text" class="form-control" id="gamme" name="gamme" value="">
  </div>
  <div class="form-group">
    <select class="form-control" name="famille">
      <option value="">Famille</option>
      {% for famille in familles %}
      <option value="{{ famille.id }}">{{ famille.nom }}</option>
      {% endfor %}

    </select>
  </div>
  <button type="submit" name="button">Ajouter</button>
</form>
{% endblock %}
