{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Modifier un produit - {{ parent() }}
{% endblock %}

{% block subtitle %} Modifier un produit {% endblock %}

{% block etiquette_body %}
<form class="" action="" method="post">
  <div class="form-group">
    <label for="reftarif">Référence</label>
    <input type="text" class="form-control" id="reftarif" name="reftarif" value="{{ produit.reftarif }}">
  </div>
  <div class="form-group">
    <label for="reftarifsansespace">Référence (sans espace)</label>
    <input type="text" class="form-control" id="reftarifsansespace" name="reftarifsansespace" value="{{ produit.reftarifsansespace }}">
  </div>
  <div class="form-group">
    <label for="codesap">Code SAP</label>
    <input type="text" class="form-control" id="codesap" name="codesap" value="{{ produit.codesap }}">
  </div>
  <div class="form-group">
    <label for="codeean">Code EAN</label>
    <input type="text" class="form-control" id="codeean" name="codeean" value="{{ produit.codeean }}">
  </div>
  <div class="form-group">
    <label for="modepose">Mode pose</label>
    <input type="text" class="form-control" id="modepose" name="modepose" value="{{ produit.modepose }}">
  </div>
  <div class="form-group">
    <label for="ecopart">Eco participation</label>
    <input type="text" class="form-control" id="ecopart" name="ecopart" value="{{ produit.ecopart }}">
  </div>
  <div class="form-group">
    <label for="pvcm">pvcm</label>
    <input type="text" class="form-control" id="pvcm" name="pvcm" value="{{ produit.pvcm }}">
  </div>
  <div class="form-group">
    <label for="pkgl">pkgl</label>
    <input type="text" class="form-control" id="pkgl" name="pkgl" value="{{ produit.pkgl }}">
  </div>
  <div class="form-group">
    <label for="hauteurnet">Hauteur net</label>
    <input type="text" class="form-control" id="hauteurnet" name="hauteurnet" value="{{ produit.hauteurnet }}">
  </div>
  <div class="form-group">
    <label for="largeurnet">Largeur net</label>
    <input type="text" class="form-control" id="largeurnet" name="largeurnet" value="{{ produit.largeurnet }}">
  </div>
  <div class="form-group">
    <label for="profondeurnet">Profondeur net</label>
    <input type="text" class="form-control" id="profondeurnet" name="profondeurnet" value="{{ produit.profondeurnet }}">
  </div>
  <div class="form-group">
    <label for="existe">Existe</label>
    <input type="text" class="form-control" id="existe" name="existe" value="{{ produit.existe }}">
  </div>
  <div class="form-group">
    <label for="info1">Info 1</label>
    <input type="text" class="form-control" id="info1" name="info1" value="{{ produit.info1 }}">
  </div>
  <div class="form-group">
    <label for="info2">Info 2</label>
    <input type="text" class="form-control" id="info2" name="info2" value="{{ produit.info2 }}">
  </div>
  <div class="form-group">
    <label for="info3">Info 3</label>
    <input type="text" class="form-control" id="info3" name="info3" value="{{ produit.info3 }}">
  </div>
  <div class="form-group">
    <label for="info4">Info 4</label>
    <input type="text" class="form-control" id="info4" name="info4" value="{{ produit.info4 }}">
  </div>
  <div class="form-group">
    <label for="info5">Info 5</label>
    <input type="text" class="form-control" id="info5" name="info5" value="{{ produit.info5 }}">
  </div>
  <div class="form-group">
    <label for="during">Durée</label>
    <input type="text" class="form-control" id="during" name="during" value="{{ produit.during }}">
  </div>
  <div class="form-group">
    <label for="garantie">Garantie</label>
    <input type="text" class="form-control" id="garantie" name="garantie" value="{{ produit.garantie }}">
  </div>
  <div class="form-group">
    <label for="valpoidsnet">Poids net</label>
    <input type="text" class="form-control" id="valpoidsnet" name="valpoidsnet" value="{{ produit.valpoidsnet }}">
  </div>
  <div class="form-group">
    <label for="gamme">Gamme</label>
    <input type="text" class="form-control" id="gamme" name="gamme" value="{{ produit.gamme }}">
  </div>
  <div class="form-group">
    <select class="form-control" name="famille">
      <option value="">Famille</option>
      {% for famille in familles %}
      <option value="{{ famille.id }}"{{ (produit.famille.id is defined and famille.id == produit.famille.id)?' selected':'' }}>{{ famille.nom }}</option>
      {% endfor %}

    </select>
  </div>
  <button type="submit" name="button">Mettre à jour</button>
</form>
{% endblock %}
