{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Liste des produits - {{ parent() }}
{% endblock %}

{% block etiquette_body %}
    <h2>Liste des produits <a href="{{ path('etiquette_add') }}" class="btn btn-default add"><span class="ion-plus-round"></span></a></h2>

  <div class="liste des produits">
    <table id="liste_produits">
      <thead>
        <tr>
          <th>ID</th>
          <th>Gamme</th>
          <th>Référence</th>
          <th>Référence sans espaces</th>
          <th>Famille</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in produits %}
        <tr>
          <td>{{ produit.id }}</td>
          <td>{{ produit.gamme }}</td>
          <td>{{ produit.reftarif }}</td>
          <td>{{ produit.reftarifsansespace }}</td>
          <td>{{ produit.famille.nom is defined ? produit.famille.nom : '' }}</td>
          <td>
            <a href="{{ path('etiquette_view', {'id': produit.id}) }}"><i class="ion-eye"></i> </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <p>
  </p>

{% endblock %}

{% block script_footer %}
  <script type="text/javascript">
  $(document).ready( function () {
    $('#liste_produits').DataTable({
      "language" :{
          "sProcessing":     "Traitement en cours...",
          "sSearch":         "<span class='ion-ios-search-strong'></span>",
          "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
          "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix":    "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
          "oPaginate": {
              "sFirst":      "Premier",
              "sPrevious":   "Pr&eacute;c&eacute;dent",
              "sNext":       "Suivant",
              "sLast":       "Dernier"
          },
          "oAria": {
              "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
              "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          },
          "select": {
              "rows": {
                  _: "%d lignes séléctionnées",
                  0: "Aucune ligne séléctionnée",
                  1: "1 ligne séléctionnée"
              }
          }
        }
    });
  } );
  </script>
{% endblock %}
