{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  {{ produit.reftarif }} - {{ parent() }}
{% endblock %}

{% block etiquette_body %}

  <h2>{{ produit.reftarif }}</h2>
  <p>Crée le {{ produit.created|date('d/m/Y') }}</p>

  <div class="well">
    {{ produit.codesap }}
  </div>

  {% if produit.famille.nom is defined %}
  <form class="form-inline" action="{{ path('etiquette_print', {'id': produit.id}) }}" method="post">
    <div class="form-group mb-2">
      <label for="prix">Prix</label>
      <input class="form-control" type="number" name="prix" id="prix" step="0.01">
    </div>
    <button type="submit" name="button" class="btn btn-default mb-2">Imprimer</button>
  </form>
  {% endif %}
  <p>
    <a href="{{ path('etiquette_list') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('etiquette_edit', {'id': produit.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier le produit
    </a>
    <a href="{{ path('etiquette_delete', {'id': produit.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer le produit
    </a>
  </p>

{% endblock %}
