{% extends "@Etiquette/Main/layout.html.twig" %}


{% block etiquette_body %}
<h1>Aide</h1>
<p>Bienvenue sur le site etiquette-miele.fr version 3.</p>

<p>
  Grâce à l'outil mis à votre disposition par le service marketing de la société Miele, vous allez pouvoir effectuer :
  >> une recherche rapide par mots clés
  >> ou bien rechercher directement une étiquette dans la liste proposée
</p>

<p>
  Vous pourrez indiquer le tarif puis imprimer l'étiquette sélectionnée.
</p>

<p>
  N'hésitez pas à nous contacter pour toute question
</p>

<p>
  Toute l'équipe Miele
</p>

</body>
{% endblock %}
