{% extends "@Etiquette/Main/layout.html.twig" %}


{% block etiquette_body %}
    <div class="fond-noir"></div>

    <div class="dashboard">
        <div class="non-admin">
            <a href="{{ path('etiquette_list') }}" class="base"><span class="ion-ios-list-outline"></span>Liste des produits</a>
            <a href="{{ path('profile') }}" class="base"><span class="ion-person"></span>Mon profil</a>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="admin">
                <a href="{{ path('user_list') }}" class="base"><span class="ion-person-stalker"></span>Liste des utilisateurs</a>
                <a href="{{ path('import_product') }}" class="base"><span class="ion-ios-download-outline"></span>Import des produits</a>
                <a href="{{ path('import_images') }}" class="base"><span class="ion-ios-download-outline"></span>Import des images</a>
                <a href="#" class="base"><span class="ion-arrow-graph-up-right"></span>Statistiques</a>
            </div>
        {% endif %}
    </div>

{% endblock %}
