{% extends "layout.html.twig" %}

{% block title %}
  Produits {{ parent() }}
{% endblock %}

{% block body %}
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block etiquette_body %}
  {% endblock %}

{% endblock %}

{% block script_footer %}
{% endblock %}
