{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Ajouter un utilisateur - {{ parent() }}
{% endblock %}

{% block etiquette_body %}
    <h2>Ajouter un utilisateur</h2>

    <div class="col-md-6 offset-md-3">
      {{ form_start(form) }}

        {{ form_errors(form.username) }}
        {{ form_errors(form.email) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_errors(form.roles) }}

        {{ form_label(form.username, 'Pseudo') }}
        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.plainPassword.first, 'Mot de passe') }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.plainPassword.second, 'Confirmer le mot de passe') }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}

        {{ form_label(form.roles, 'Rôles') }}
        {{ form_widget(form.roles) }}

        <br>

        {{ form_row(form.submit, {'label': 'Valider'}) }}

      {{ form_end(form) }}
    </div>

{% endblock %}
