{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Liste des utilisateurs - {{ parent() }}
{% endblock %}

{% block etiquette_body %}
    <h2>Liste des utilisateurs <a href="{{ path('user_add') }}" class="btn btn-default add"><span class="ion-plus-round"></span></a></h2>

    <table id="liste_users">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <a href="{{ path('user_view', {'user': user.id}) }}"><i class="ion-eye"></i> </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  <p>
  </p>

{% endblock %}

{% block script_footer %}
  <script type="text/javascript">
  $(document).ready( function () {
    $('#liste_users').DataTable({
      "language" :{
          "sProcessing":     "Traitement en cours...",
          "sSearch":         "<span class='ion-ios-search-strong'></span>",
          "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
          "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
          "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
          "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
          "sInfoPostFix":    "",
          "sLoadingRecords": "Chargement en cours...",
          "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
          "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
          "oPaginate": {
              "sFirst":      "Premier",
              "sPrevious":   "Pr&eacute;c&eacute;dent",
              "sNext":       "Suivant",
              "sLast":       "Dernier"
          },
          "oAria": {
              "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
              "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
          },
          "select": {
              "rows": {
                  _: "%d lignes séléctionnées",
                  0: "Aucune ligne séléctionnée",
                  1: "1 ligne séléctionnée"
              }
          }
        }
    });
  } );
  </script>
{% endblock %}
