{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  {{ user.username }} - {{ parent() }}
{% endblock %}

{% block etiquette_body %}
    
  <h2>{{ user.username }}</h2>

  <p>{{ user.email }}</p>

  <a class="btn btn-warning" href="{{ path('user_edit', {'user': user.id}) }}">Modifier</a>

  {{ form_start(form) }}

 	{{ form_widget(form.submit, {'attr': {'class': 'btn btn-danger'}}) }}

  {{ form_end(form) }}

{% endblock %}
