{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Ajouter une famille - {{ parent() }}
{% endblock %}

{% block subtitle %} Ajouter une famille {% endblock %}

{% block etiquette_body %}
<form class="" action="" method="post">
  <div class="form-group">
    <label for="nom">Nom</label>
    <input type="text" class="form-control" id="nom" name="nom" value="">
  </div>
  <button type="submit" name="button">Ajouter</button>
</form>
{% endblock %}
