{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}
  Modifier un produit - {{ parent() }}
{% endblock %}

{% block subtitle %} Modifier un produit {% endblock %}

{% block etiquette_body %}
<form class="" action="" method="post">
  <div class="form-group">
    <label for="reftarif">Nom</label>
    <input type="text" id="reftarif" name="reftarif" class="form-control" value="{{ famille.nom }}">
  </div>
  <button type="submit" name="button">Mettre à jour</button>
</form>
{% endblock %}
