body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/fond-dashboard.jpg"); }

.btn-menu {
  display: none; }

.dashboard {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 50px 20px; }
  .dashboard a {
    color: #8C0014;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    border: solid 2px #8C0014;
    padding: 30px;
    margin: 10px 10px;
    min-width: 350px;
    font-size: 20px; }
    .dashboard a * {
      display: block;
      width: 100%; }
    .dashboard a span {
      font-size: 55px; }
    .dashboard a:hover {
      background-color: #8C0014;
      color: #fff;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
  .dashboard > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px; }
  .dashboard .admin {
    border-top: solid 2px #7F7F7F;
    padding-top: 30px;
    margin-bottom: 0; }
