body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/fond-login.jpg"); }

.btn-menu {
  display: none; }

.form-signin {
  width: 100%;
  max-width: 50%;
  padding: 15px;
  margin: 0 auto;
  color: #fff;
  text-align: center; }
  .form-signin .checkbox {
    font-weight: 400; }
  .form-signin .form-control {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px; }
    .form-signin .form-control:focus {
      z-index: 2; }
  .form-signin input {
    border: solid 1px #8C0014; }
    .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      margin-top: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
    .form-signin input:focus {
      outline-color: transparent;
      outline-style: none; }
  .form-signin .btn {
    background-color: #8C0014;
    color: #fff;
    border: solid 1px #8C0014;
    font-weight: 600;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    padding: 10px;
    text-decoration: none; }
    .form-signin .btn:hover {
      background-color: #fff;
      color: #8C0014;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

.createby {
  margin-top: 20px; }
  .createby a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .createby a:hover {
      text-decoration: underline;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }

.alert-danger {
  color: #fff;
  background-color: #8C0014;
  border: solid 3px #8C0014;
  font-weight: 700;
  padding: 8px; }

.retour {
  display: none; }
