.retour {
  background-color: #8C0014;
  color: #fff;
  border: solid 1px #8C0014;
  font-weight: 600;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 15%;
  font-size: 18px;
  margin-bottom: 20px; }
  .retour:hover {
    background-color: #fff;
    color: #8C0014;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .retour span {
    font-size: 25px; }

#liste_produits_filter {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #liste_produits_filter input {
    width: 60%;
    border: solid 2px #7F7F7F;
    height: 35px;
    padding: 0px 10px;
    font-size: 16px;
    color: #8C0014; }
  #liste_produits_filter label {
    width: 100%;
    color: #8C0014;
    font-weight: 400;
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

#liste_produits_length {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #8C0014;
  font-weight: 500;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #liste_produits_length select {
    font-weight: 600;
    border: solid 2px #8C0014;
    color: #8C0014; }

table#liste_produits {
  text-align: center;
  border-bottom: solid 2px #8C0014; }
  table#liste_produits th {
    color: #8C0014;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: solid 2px #8C0014; }
  table#liste_produits td {
    color: #000;
    font-size: 18px; }
  table#liste_produits i {
    color: #7F7F7F;
    font-size: 25px;
    margin: 0px 5px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    table#liste_produits i:hover {
      cursor: pointer;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      color: #8C0014; }

.add {
  background-color: #8C0014;
  border: solid 2px #8C0014;
  color: #fff;
  border-radius: 60px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 93%;
  top: 10%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .add:hover {
    cursor: pointer;
    background-color: #fff;
    color: #8C0014;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
