{% extends "@Etiquette/Main/layout.html.twig" %}

{% block title %}Importer des images - {{ parent() }}{% endblock %}

{% block subtitle %} Import des images {% endblock %}

{% block etiquette_body %}

	<h2>Import d'images</h2>

	{% for message in app.flashes('notice') %}
	    <p class="bg-success text-white">
	        {{ message }}
	    </p>
	{% endfor %}

	{{ form_start(form) }}

		{{ form_row(form.files) }}

		<br>

		{{ form_row(form.submit) }}

	{{ form_end(form) }}

{% endblock %}
