{# src/OC/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "@Etiquette/Main/layout.html.twig" %}


{% block body %}

   <div class="fond-noir"></div>

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
  <form action="{{ path('login_check') }}" method="post" class="form-signin">

    <img class="mb-4" src="{{ asset('images/miele-logo.jpg') }}" alt="">

    <h1 class="h3 mb-3 font-weight-normal">Plateforme des étiquettes produit</h1>

    <label for="username" class="sr-only">Login :</label>
    <input type="text" id="username"  class="form-control" name="_username" placeholder="Pseudo" />

    <label for="password"  class="sr-only">Mot de passe :</label>
    <input type="password" id="password"  class="form-control" name="_password" placeholder="Mot de passe"/>

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
      <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <input  class="btn btn-lg btn-primary btn-block" type="submit" value="Je me connecte !" />
    <p class="createby">Powered By <a href="https://tcloarec.fr/" target="_blank">Thomas CLOAREC</a></p>
  </form>


{% endblock %}
