@mixin btnRouge() {
  background-color: $rouge;
  color: $blanc;
  border: solid 1px $rouge;
  font-weight: 600;
  transition: all .3s;
  padding: 10px;
  text-decoration: none;
  &:hover {
    background-color: $blanc;
    color: $rouge;
    transition: all .3s;
  }
}

@mixin h2() {
  text-align: center;
  margin: 20px 0px;
  border-top: solid 2px $gris;
  padding: 5px 0px;
  border-bottom: solid 2px $gris;
  color: $rouge;
  font-weight: 600;
  font-size: 45px;
  text-transform: uppercase;
  position: relative;
}
