@import 'link';

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/fond-dashboard.jpg');
}

.btn-menu {
  display: none;
}

.dashboard {
  width: 100%;
  background-color: $blanc;
  border-radius: 8px;
  padding: 50px 20px;
  a {
    color: $rouge;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-decoration: none;
    font-weight: 600;
    border-radius: 8px;
    * {
      display: block;
      width: 100%;
    }
    text-align: center;
    border: solid 2px $rouge;
    padding: 30px;
    margin: 0px 10px;
    min-width: 250px;
    font-size: 20px;
    span {
      font-size: 55px;
    }
    &:hover {
      background-color: $rouge;
      color: $blanc;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
  }
  > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .admin {
    border-top: solid 2px $gris;
    padding-top: 30px;
    margin-bottom: 0;
  }
}