@import 'link';

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../images/fond-login.jpg');
}

.btn-menu {
  display: none;
}

.form-signin {
  width: 100%;
  max-width: 50%;
  padding: 15px;
  margin: 0 auto;
  color: $blanc;
  text-align: center;
  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
  input {
    border: solid 1px $rouge;
    &[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &[type="password"] {
      margin-bottom: 10px;
      margin-top: 5px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:focus {
      outline-color: transparent;
      outline-style: none;
    }
  }
  .btn {
    @include btnRouge();
  }
}

.createby {
  margin-top: 20px;
  a {
    color: $blanc;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &:hover {
      text-decoration: underline;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
    }
  }

}

.alert-danger {
  color: $blanc;
  background-color: $rouge;
  border: solid 3px $rouge;
  font-weight: 700;
  padding: 8px;
}

.retour{
  display: none;
}