@import 'link';

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  @include h2();
}

.fond-noir {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.retour {
  display: none;
}

.btn-menu {
  z-index: 90;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  width: 98px;
  height: 98px;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1);
  -o-transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1);
  transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1);
  border-bottom-right-radius: 100%;
  .menu {
    z-index: 100;
    background-color: #8C0014;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    border-bottom-right-radius: 200px;
    cursor: pointer;
    -webkit-transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1), background-color 1s ease;
    -o-transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1), background-color 1s ease;
    transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1), background-color 1s ease;
    .icon {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-100%, -100%);
      -ms-transform: translate(-100%, -100%);
      transform: translate(-100%, -100%);
      &:before, &:after {
        content: '';
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: top 0.5s ease 0.5s, background-color 0.75s ease 0.25s, -webkit-transform 0.5s ease;
        transition: top 0.5s ease 0.5s, background-color 0.75s ease 0.25s, -webkit-transform 0.5s ease;
        -o-transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
        transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
        transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s, -webkit-transform 0.5s ease;
      }
      .bar, &:before, &:after {
        position: absolute;
        height: 5px;
        left: 0px;
        right: 0px;
        border-radius: 5px;
        background-color: #fff;
      }
      .bar {
        -webkit-transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
        -o-transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
        transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
        opacity: 1;
        top: 10px;
      }
      &:before {
        top: 0px;
      }
      &:after {
        top: initial;
        top: 20px;
      }
    }
  }
  .icons {
    z-index: 98;
    position: absolute;
    top: 0px;
    left: 0px;
    > * {
      position: absolute;
      font-size: 40px;
      color: #8C0014;
      -webkit-transition: 0.3s cubic-bezier(0.5, -0.25, 0.05, 1);
      -o-transition: 0.3s cubic-bezier(0.5, -0.25, 0.05, 1);
      transition: 0.3s cubic-bezier(0.5, -0.25, 0.05, 1);
    }
    .ion-grid {
      top: 35px;
      left: 0px;
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    .ion-person {
      top: 0px;
      left: 0px;
      color: #8C0014;
      -webkit-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
    .ion-log-out {
      top: 0px;
      left: 35px;
    }
  }
  .section {
    z-index: 96;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    .cover1 {
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      position: absolute;
      width: 600px;
      height: 600px;
      .cover2 {
        position: absolute;
        width: 600px;
        height: 600px;
        .content {
          position: absolute;
          width: 600px;
          height: 600px;
          width: 150px;
          height: 150px;
          border-radius: 100%;
          /* background-color: #7F7F7F; */
          top: 100%;
          left: 0%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -webkit-transition: background-color 0s, width 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s, height 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s;
          -o-transition: background-color 0s, width 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s, height 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s;
          transition: background-color 0s, width 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s, height 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s;
          pointer-events: auto;
        }
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-100%, -100%) rotate(4deg);
        -ms-transform: translate(-100%, -100%) rotate(4deg);
        transform: translate(-100%, -100%) rotate(4deg);
        overflow: hidden;
        pointer-events: none;
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: -webkit-transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
        -webkit-transform: translate(50%, -50%) rotate(-8deg);
        -ms-transform: translate(50%, -50%) rotate(-8deg);
        transform: translate(50%, -50%) rotate(-8deg);
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
      }
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-100%, -100%) rotate(4deg);
      -ms-transform: translate(-100%, -100%) rotate(4deg);
      transform: translate(-100%, -100%) rotate(4deg);
      overflow: hidden;
      pointer-events: none;
      -webkit-transition: -webkit-transform 0.5s ease-in;
      transition: -webkit-transform 0.5s ease-in;
      -o-transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in;
      transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    }
  }
  .section-static {
    z-index: 94;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: width 1s cubic-bezier(0.5, -0.75, 0.05, 1), height 1s cubic-bezier(0.5, -0.75, 0.05, 1);
    -o-transition: width 1s cubic-bezier(0.5, -0.75, 0.05, 1), height 1s cubic-bezier(0.5, -0.75, 0.05, 1);
    transition: width 1s cubic-bezier(0.5, -0.75, 0.05, 1), height 1s cubic-bezier(0.5, -0.75, 0.05, 1);
    &:hover {
      background-color: #EAEAEA;
    }
    &.top {
      -webkit-transform: rotate(-61deg);
      -ms-transform: rotate(-61deg);
      transform: rotate(-61deg);
      border-bottom-right-radius: 400px;
    }
    &.bottom {
      -webkit-transform: rotate(61deg);
      -ms-transform: rotate(61deg);
      transform: rotate(61deg);
      border-bottom-right-radius: 400px;
    }
  }
  &.close {
    width: 300px;
    height: 300px;
    -webkit-transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
    -o-transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
    transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
    opacity: 1 !important;
    background-color: rgba(140, 0, 20, 0.05);
    .menu {
      width: 150px;
      height: 150px;
      -webkit-transition: all 1s cubic-bezier(0.5, 0, 0.05, 1.75), background-color 1s ease;
      -o-transition: all 1s cubic-bezier(0.5, 0, 0.05, 1.75), background-color 1s ease;
      transition: all 1s cubic-bezier(0.5, 0, 0.05, 1.75), background-color 1s ease;
      background-color: #8C0014;
      .icon {
        .bar, &:before, &:after {
          background-color: #FFFFFF;
        }
        .bar {
          opacity: 0;
        }
        &:before, &:after {
          -webkit-transition: top 0.5s linear, background-color 0.75s ease 0.25s, -webkit-transform 0.5s ease 0.5s;
          transition: top 0.5s linear, background-color 0.75s ease 0.25s, -webkit-transform 0.5s ease 0.5s;
          -o-transition: top 0.5s linear, transform 0.5s ease 0.5s, background-color 0.75s ease 0.25s;
          transition: top 0.5s linear, transform 0.5s ease 0.5s, background-color 0.75s ease 0.25s;
          transition: top 0.5s linear, transform 0.5s ease 0.5s, background-color 0.75s ease 0.25s, -webkit-transform 0.5s ease 0.5s;
        }
        &:before {
          top: 10px;
          -webkit-transform: rotate(-61deg);
          -ms-transform: rotate(-61deg);
          transform: rotate(-61deg);
        }
        &:after {
          top: 10px;
          -webkit-transform: rotate(61deg);
          -ms-transform: rotate(61deg);
          transform: rotate(61deg);
        }
      }
    }
    .icons {
      position: absolute;
      top: 0px;
      left: 0px;
      > * {
        position: absolute;
        font-size: 40px;
        color: #8C0014;
        -webkit-transition: 0.3s cubic-bezier(0.5, 0, 0.05, 1.75) 0.7s;
        -o-transition: 0.3s cubic-bezier(0.5, 0, 0.05, 1.75) 0.7s;
        transition: 0.3s cubic-bezier(0.5, 0, 0.05, 1.75) 0.7s;
        pointer-events: none;
      }
      .ion-grid {
        top: 35px;
        left: 200px;
      }
      .ion-person {
        top: 141px;
        left: 141px;
        color: #8c0014;
        -webkit-transition-delay: 0.65s;
        -o-transition-delay: 0.65s;
        transition-delay: 0.65s;
      }
      .ion-log-out {
        top: 200px;
        left: 35px;
        -webkit-transition-delay: 0.8s;
        -o-transition-delay: 0.8s;
        transition-delay: 0.8s;
      }
    }
    .section .cover1 {
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      position: absolute;
      width: 600px;
      height: 600px;
      .cover2 {
        position: absolute;
        width: 600px;
        height: 600px;
        .content {
          position: absolute;
          width: 600px;
          height: 600px;
          border-radius: 100%;
          /* background-color: #7F7F7F; */
          top: 100%;
          left: 0%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -webkit-transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;
          -o-transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;
          transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;
          &:hover {
            background-color: #EAEAEA;
          }
        }
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-100%, -100%) rotate(16deg);
        -ms-transform: translate(-100%, -100%) rotate(16deg);
        transform: translate(-100%, -100%) rotate(16deg);
        overflow: hidden;
        -webkit-transition: -webkit-transform 0.5s ease-in 0.5s;
        transition: -webkit-transform 0.5s ease-in 0.5s;
        -o-transition: transform 0.5s ease-in 0.5s;
        transition: transform 0.5s ease-in 0.5s;
        transition: transform 0.5s ease-in 0.5s, -webkit-transform 0.5s ease-in 0.5s;
        -webkit-transform: translate(50%, -50%) rotate(-32deg);
        -ms-transform: translate(50%, -50%) rotate(-32deg);
        transform: translate(50%, -50%) rotate(-32deg);
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
      }
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-100%, -100%) rotate(16deg);
      -ms-transform: translate(-100%, -100%) rotate(16deg);
      transform: translate(-100%, -100%) rotate(16deg);
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.5s ease-in 0.5s;
      transition: -webkit-transform 0.5s ease-in 0.5s;
      -o-transition: transform 0.5s ease-in 0.5s;
      transition: transform 0.5s ease-in 0.5s;
      transition: transform 0.5s ease-in 0.5s, -webkit-transform 0.5s ease-in 0.5s;
    }
    .section-static {
      width: 300px;
      height: 300px;
      -webkit-transition: width 1.25s cubic-bezier(0.5, 0, 0.05, 2), height 1.25s cubic-bezier(0.5, 0, 0.05, 2);
      -o-transition: width 1.25s cubic-bezier(0.5, 0, 0.05, 2), height 1.25s cubic-bezier(0.5, 0, 0.05, 2);
      transition: width 1.25s cubic-bezier(0.5, 0, 0.05, 2), height 1.25s cubic-bezier(0.5, 0, 0.05, 2);
    }
  }
}