@import 'link';

.retour {
  @include btnRouge();
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  font-size: 18px;
  margin-bottom: 20px;
  span {
    font-size: 25px;
  }
}

#liste_produits_filter {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  input {
    width: 60%;
    border: solid 2px $gris;
    height: 35px;
    padding: 0px 10px;
    font-size: 16px;
    color: $rouge;
  }
  label {
    width: 100%;
    color: $rouge;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#liste_produits_length {
  height: 53px;
  display: flex;
  align-items: center;
  color: $rouge;
  font-weight: 500;
  justify-content: center;
  select {
    font-weight: 600;
    border: solid 2px $rouge;
    color: $rouge;
  }
}

table#liste_produits {
  text-align: center;
  border-bottom: solid 2px $rouge;
  th {
    color: $rouge;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: solid 2px $rouge;
  }
  td {
    color: #000;
    font-size: 18px;
  }
  i {
    color: $gris;
    font-size: 25px;
    margin: 0px 5px;
    transition: all .3s;
    &:hover {
      cursor: pointer;
      transition: all .3s;
      color: $rouge;
    }
  }
}

.add {
  background-color: $rouge;
  border: solid 2px $rouge;
  color: #fff;
  border-radius: 60px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 93%;
  top: 10%;
  transition: all .3s;
  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: $rouge;
    transition: all .3s;
  }
}